<?xml version="1.0" encoding="UTF-8"?>
<it.cambieri.sts>
	<settings id="1" description="Main SPR Store"
		plcip="192.168.99.101" 
		plcport="2000" 
		myport="2000" 
		timeout="2000" 
		directory="smb://192.168.1.102/sw_interface"
		domain=""
		user="syscon"
		password="Enterprise"
		requestfile="request01.ini"
		requestsyn="request01.syn"
		responsefile="response01.ini"
		responsesyn="response01.syn"
		positionfile="pos_01.ini"
		positionsyn="pos_01.syn"
		downfile="down01.syn" 
		sharedfolder="/home/sts/shared"
		tomsharedfolder="/home/tom/shared"
	/>
</it.cambieri.sts>
